@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*balises générales*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
}

p {
  font-size: 15px;
}
@media screen and (min-width: 1025px) {
  p {
    font-size: 19px;
  }
}

h2 {
  font-size: 21px;
}
@media screen and (min-width: 1025px) {
  h2 {
    font-size: 28px;
  }
}

/*header*/
header, .header-menu {
  display: flex;
  justify-content: center;
  padding: 19px 0 5px 0;
  box-shadow: 1px 2px 14px grey;
  background-color: #FFFFFF;
}
header img, .header-menu img {
  width: 150px;
}
@media screen and (min-width: 1025px) {
  header img, .header-menu img {
    width: 230px;
  }
}

/*localisation*/
.localisation {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.localisation i {
  padding-right: 17px;
}

/*slogan+bouton*/
.slogan {
  background-color: #f6f6f6;
  padding: 45px 9%;
  text-align: center;
}
.slogan h2 {
  padding-bottom: 15px;
}
.slogan p {
  font-weight: 100;
  padding-bottom: 30px;
}
.slogan a {
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  font-family: "Roboto", sans-serif;
  color: white;
  box-shadow: 2px 3px 6px grey;
  text-decoration: none;
  transition: 400ms;
  font-size: 13px;
  padding: 12px 15px;
}
.slogan a:hover {
  box-shadow: 9px 10px 9px #737373;
  background: linear-gradient(175deg, #ff88de, #9b63df);
}
@media screen and (min-width: 1025px) {
  .slogan a {
    font-size: 17px;
  }
}

/*fonctionnement*/
.fonctionnement {
  background-color: #FFFFFF;
  padding: 50px 5%;
}
.fonctionnement h2 {
  margin-bottom: 20px;
}
.fonctionnement p {
  padding: 25px 0 25px 26px;
  margin: 0 0 25px 10px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 1px 2px 11px #e5e5e5;
  transition: 300ms;
}
.fonctionnement p:hover {
  background-color: #f2eafb;
}
.fonctionnement p:hover i {
  color: #9356DC;
}
@media screen and (min-width: 1025px) {
  .fonctionnement p {
    width: 28%;
  }
}
.fonctionnement span {
  background-color: #9356DC;
  padding: 2px 7px;
  font-size: 13px;
  color: white;
  border-radius: 20px;
  position: absolute;
  margin-left: -38px;
}
@media screen and (min-width: 1025px) {
  .fonctionnement span {
    font-size: 18px;
    padding: 3px 9px;
    margin-left: -41px;
  }
}
.fonctionnement i {
  margin-right: 20px;
  color: grey;
}
@media screen and (min-width: 1025px) {
  .fonctionnement div {
    display: flex;
    justify-content: space-around;
  }
}

/*restaurants*/
#restaurants {
  background-color: #f6f6f6;
  padding: 55px 5%;
}
#restaurants figure {
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 1px 2px 11px #e5e5e5;
  transition: 400ms;
}
#restaurants a {
  text-decoration: none;
  color: black;
  width: 100%;
}
#restaurants a:hover img {
  width: 103%;
}
#restaurants a:hover h3 {
  color: #9356DC;
}
@media screen and (min-width: 1025px) {
  #restaurants a {
    width: 24%;
  }
}
#restaurants img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  transition: 500ms;
}
@media screen and (min-width: 1025px) {
  #restaurants img {
    height: 250px;
  }
}
#restaurants i {
  font-weight: 50;
  font-size: 20px;
}
#restaurants h3 {
  transition: 400ms;
}

@media screen and (min-width: 1025px) {
  .cards {
    display: flex;
    justify-content: space-between;
  }
}

figcaption {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
figcaption p {
  font-weight: 100;
}

.nouveau {
  position: absolute;
  margin: -154px 0 0 72%;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #008766;
}
@media screen and (min-width: 1025px) {
  .nouveau {
    margin: -240px 0 0 14.5%;
  }
}

/*pied-de-page*/
footer {
  background-color: #353535;
  padding: 30px 6%;
}
footer h4 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1025px) {
  footer h4 {
    font-size: 29px;
  }
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #99E2D0;
}
footer p {
  margin-bottom: 10px;
}
@media screen and (min-width: 1025px) {
  footer div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    padding: 40px 20%;
  }
}

.fa-utensils {
  font-size: 15px;
  margin-right: 15px;
}

.fa-hands-helping {
  font-size: 11px;
  margin-right: 13px;
}

/*page des menus*/
/*images restaurants*/
.la-palette-du-gout {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
@media screen and (min-width: 1025px) {
  .la-palette-du-gout {
    background-size: 100% auto;
    background-position: center -355px;
  }
}

.la-note-enchantee {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
@media screen and (min-width: 1025px) {
  .la-note-enchantee {
    background-size: 100% auto;
    background-position: center -355px;
  }
}

.a-la-francaise {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
@media screen and (min-width: 1025px) {
  .a-la-francaise {
    background-size: 100% auto;
    background-position: center -355px;
  }
}

.le-delice-des-sens {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 130% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}
@media screen and (min-width: 1025px) {
  .le-delice-des-sens {
    background-size: 100% auto;
    background-position: center -355px;
  }
}

/*header*/
.header-menu {
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-right: 15%;
}
.header-menu i {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
@media screen and (min-width: 1025px) {
  .header-menu {
    padding-right: 30%;
  }
}

/*menu*/
.menu {
  padding-top: 200px;
}
.menu h1 {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  padding: 40px 8% 10px 4%;
  font-family: "Shrikhand", cursive;
  font-size: 23px;
  border-radius: 35px 35px 0 0;
}
.menu h1 i {
  font-weight: 100;
}
@media screen and (min-width: 1025px) {
  .menu h1 {
    margin: 300px 20% 0 20%;
    font-size: 33px;
  }
}

form {
  text-align: center;
  background-color: #f6f6f6;
  padding: 0 4%;
}
form h2 {
  text-align: left;
  font-size: 17px;
  padding: 20px 0 3px 0;
  margin-bottom: 10px;
  font-weight: 100;
}
form h2 span {
  padding-bottom: 3px;
  border-bottom: 2px solid #99E2D0;
}
@media screen and (min-width: 1025px) {
  form h2 {
    font-size: 23px;
  }
}
form button {
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  font-family: "Roboto", sans-serif;
  color: white;
  box-shadow: 2px 3px 6px grey;
  text-decoration: none;
  transition: 400ms;
  font-size: 15px;
  padding: 12px 13%;
  margin: 40px 0 50px 0;
}
form button:hover {
  box-shadow: 9px 10px 9px #737373;
  background: linear-gradient(175deg, #ff88de, #9b63df);
}
@media screen and (min-width: 1025px) {
  form button {
    font-size: 20px;
    padding: 17px 6%;
  }
}
@media screen and (min-width: 1025px) {
  form {
    margin: 0 20%;
    border-radius: 0 0 35px 35px;
  }
}

.list-menu {
  text-align: left;
  background-color: #FFFFFF;
  margin-bottom: 15px;
  box-shadow: 1px 2px 11px #e5e5e5;
  padding: 10px 23px 10px 10px;
  border-radius: 13px;
}
.list-menu h3 {
  font-size: 15px;
  padding-bottom: 5px;
}
@media screen and (min-width: 1025px) {
  .list-menu h3 {
    font-size: 18px;
  }
}
.list-menu p {
  font-size: 14px;
  font-weight: 100;
}
@media screen and (min-width: 1025px) {
  .list-menu p {
    font-size: 17px;
  }
}
.list-menu input {
  display: none;
}
.list-menu span {
  font-size: 14px;
}
@media screen and (min-width: 1025px) {
  .list-menu span {
    font-size: 19px;
  }
}

.menu-flex {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
