*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;
$gris-fonce : #353535;
$couleur-fond-primaire : #FFFFFF;
$couleur-fond-secondaire : #f6f6f6;
$breakpoints:(
		tablette: 600px,
		desktop: 1025px,
	);

@mixin fond-hover ($couleur-primaire){
    background-color: lighten($couleur-primaire, 35%);
}

@mixin centre{
	display: flex;
	justify-content: center;
}

@mixin ombres{
	box-shadow: 1px 2px 11px #e5e5e5;
}

@mixin bouton-couleur-hover ($couleur-primaire, $couleur-secondaire) {
	background: linear-gradient(175deg, lighten($couleur-secondaire, 3%), lighten($couleur-primaire, 3%));
}

@mixin texte{
	font-family: 'Roboto', sans-serif;
}

@mixin cursive{
	font-family: 'Shrikhand', cursive;
}

@mixin bouton{
	border-radius: 50px;
	background: linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
	border: none;
	@include texte;
	color: white;
	box-shadow: 2px 3px 6px grey;
	text-decoration: none;
	transition: 400ms;
	&:hover{
		box-shadow: 9px 10px 9px #737373;
		@include bouton-couleur-hover($couleur-primaire, $couleur-secondaire)
	}
}

@mixin images-menus{
	background-size: auto 60%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	@media screen and (min-width: map-get($breakpoints, tablette)){
    	background-size: 100% auto;
  	}
	@media screen and (min-width: map-get($breakpoints, desktop)){
		background-position: center center;
		background-size: 120% auto;

	}

}

@mixin tablette{
  @media screen and (min-width: map-get($breakpoints, tablette)){
      @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)){
      @content;
  }
}

@mixin apparition-progressive ($delais) {
	opacity: 1;
	transform: translateY(0);
	animation: apparition-progressive 900ms $delais;
	animation-fill-mode: both;
}
	
@keyframes apparition-progressive{
	0%{
		opacity: 0;
		transform: translateY(5vh);
	}

	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide{
	0%{
	transform: scale(1);}
	50%{
	transform: scale(2);
	opacity: 0.5;}
	100%{
	transform: scale(1);}
	
}

@keyframes loader{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes page{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/*loading spinner*/

.spinner{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #eaeaea;
	animation: loader 500ms 2s;
	animation-fill-mode: both;
}

.spinner-point{
	padding: 5px;
	border-radius: 100px;
	top: 50%;
	right: 50%;
	position: absolute;
	animation: slide 800ms infinite;
	&--un{
		background-color: $couleur-primaire;
		margin-right: 100px;
	}
	&--deux{
		background-color: $couleur-secondaire;
		animation-delay: 100ms;
		margin-right: 60px;
	}
	&--trois{
		background-color: $couleur-tertiaire;
		margin-right: 20px;
		animation-delay: 200ms;
	}
	&--quatre{
		background-color: $couleur-primaire;
		margin-right: -20px;
		animation-delay: 300ms;
	}
	&--cinq{
		background-color: $couleur-secondaire;
		animation-delay: 400ms;
		margin-right: -60px;
	}
	&--six{
		background-color: $couleur-tertiaire;
		margin-right: -100px;
		animation-delay: 500ms;
	}
}

.page{
	opacity: 0;
	animation: page 500ms 2s;
	animation-fill-mode: both;
}

/*balises générales*/

body{
	@include texte;
	background-color: #eaeaea;
}

p{
	font-size: 15px;
	@include tablette{
		font-size: 17px;
	}
	@include desktop{
		font-size: 19px;
	}
}

h2{
	font-size: 21px;
	@include tablette{
		font-size: 24px;
	}
	@include desktop{
		font-size: 28px;
	}
}

/*header*/

header{
	@include centre;
	padding: 19px 0 5px 0;
	box-shadow: 1px 2px 14px grey;
	background-color: $couleur-fond-primaire;
	img{
		width: 150px;
		@include desktop{
			width: 230px;
		}
	}
}

/*localisation*/

.main-texte{
	@include centre;
	padding: 15px 0;
	i{
		padding-right: 17px;
	}
}

/*slogan+bouton*/

.main-slogan{
	background-color: $couleur-fond-secondaire;
	padding: 45px 9%;
	text-align: center;
	h2{
		padding-bottom: 15px;
	}
	p{
		font-weight: 100;
		padding-bottom: 30px;
	}
	a{
		@include bouton;
		font-size: 13px;
		padding: 12px 15px;
		@include tablette{
			font-size: 15px;
		}
		@include desktop{
			font-size: 17px;
		}
	}
}

/*fonctionnement*/

.main-fonctionnement{
	background-color: $couleur-fond-primaire;
	padding: 50px 5%;
	h2{
		margin-bottom: 20px;
	}
	p{
		padding: 25px 0 25px 26px;
		margin: 0  0 25px 10px;
		border-radius: 20px;
		background-color: $couleur-fond-secondaire;
		@include ombres;
		transition: 300ms;
		&:hover{
			@include fond-hover($couleur-primaire);
		}
		&:hover i{
			color: $couleur-primaire;
		}
		@include desktop{
			width: 28%;
		}
	}
	span{
		background-color: $couleur-primaire;
		padding: 2px 7px;
		font-size: 13px;
		color: white;
		border-radius: 20px;
		position: absolute;
		margin-left: -38px;
		@include tablette{
			font-size: 16px;
		}
		@include desktop{
			font-size: 18px;
			padding: 3px 9px;
			margin-left: -41px;
		}
	}
	i{
		margin-right: 20px;
		color: grey;
	}
	div{
		@include desktop{
			display: flex;
			justify-content: space-around;
		}
	}
}

/*restaurants*/

#restaurants{
	background-color: $couleur-fond-secondaire;
	padding: 55px 5%;
	figure{
		overflow: hidden;
		background-color: $couleur-fond-primaire;
		border-radius: 15px;
		margin: 20px 0;
		@include ombres;
		transition: 400ms;
		position: relative;

	}
	a{
		text-decoration: none;
		color: black;
		width: 100%;
		&:hover img{
			width: 103%;
		}
		&:hover h3{
			color: $couleur-primaire;
		}
		@include tablette{
			padding-right: 10px;
			width: 50%;
		}
		@include desktop{
			width: 24%;
		}
	}
	img{
		width: 100%;
		height: 165px;
		object-fit: cover;
		transition: 500ms;
		@include tablette{
			height: 200px;
		}
		@include desktop{
			height: 250px;
		}
	}
	i{
		font-weight: 50;
		font-size: 20px;

	}
	h3{
		transition: 400ms;
	}
}

.section-cards{
	@include tablette{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

figcaption{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	p{
		font-weight: 100;
	}
}

.figure-nouveau{
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 14px;
	padding: 5px 8px;
	border-radius: 3px;
	background-color: $couleur-tertiaire;
	color: #008766;
}

/*pied-de-page*/

footer{
	background-color: $gris-fonce;
	padding: 30px 6%;
	h4{
		@include cursive;
		color: white;
		font-size: 18px;
		margin-bottom: 20px;
		@include tablette{
			font-size: 24px;
		}
		@include desktop{
			font-size: 29px;
		}
	}
	a{
		text-decoration: none;
		color: white;
		&:hover{
			color: $couleur-tertiaire;
		}
	}
	p{
		margin-bottom: 10px;
	}
	div{
		@include desktop{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	@include desktop{
		padding: 40px 20%;
	}
}

.fa-utensils{
	font-size: 15px;
	margin-right: 15px;
}

.fa-hands-helping{
	font-size: 11px;
	margin-right: 13px;
}

/*page des menus*/

/*header*/

.header-menu{
	@extend header;
	flex-direction: row-reverse;
	justify-content: space-around;
	padding-right: 15%;
	i{
		text-decoration: none;
		color: black;
		font-size: 20px;
	}
	@include tablette{
		padding-right: 27%;
	}
	@include desktop{
		padding-right: 30%;
	}
}

/*menu*/

.main-menu{
	padding-top: 250px;
	h1{
		display: flex;
		justify-content: space-between;
		background-color: $couleur-fond-secondaire;
		padding: 40px 8% 10px 4%;
		@include cursive;
		font-size: 23px;
		border-radius: 35px 35px 0 0;
		i{
			font-weight: 100;
		}
		@include tablette{
			font-size: 28px;
			padding: 40px 10% 10px 7%;
		}
		@include desktop{
			margin: 250px 20% 0 20%;
			font-size: 33px;
			padding: 40px 8% 10px 4%;
		}
	}
	&--la-palette-du-gout{
		background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
		@include images-menus;
	}

	&--la-note-enchantee{
		background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
		@include images-menus;
		background-size: auto 75%;
	}
	&--a-la-francaise{
		background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
		@include images-menus;
	}

	&--le-delice-des-sens{
		background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
		@include images-menus;
	}
	@include tablette{
		padding-top: 250px;
	}
}


form{
	text-align: center;
	background-color: $couleur-fond-secondaire;
	padding: 0 4%;
	h2{
		text-align: left;
		font-size: 17px;
		padding: 20px 0 3px 0;
		margin-bottom: 10px;
		font-weight: 100;
		span{
			padding-bottom: 3px;
			border-bottom: 2px solid $couleur-tertiaire;
		}
		@include tablette{
			font-size: 20px;
		}
		@include desktop{
			font-size: 23px;
		}
	}
	button{
		@include bouton;
		font-size: 15px;
		padding: 12px 13%;
		margin: 40px 0 50px 0;
		@include tablette{
			font-size: 17px;
			padding: 14px 9%;
		}
		@include desktop{
			font-size: 20px;
			padding: 17px 6%;
		}
	}
	@include tablette{
		padding: 0 7%;
	}
	@include desktop{
		margin: 0 20%;
		padding: 0 4%;
		border-radius: 0 0 35px 35px;
	}
}

.form-menu{
	text-align: left;
	background-color: $couleur-fond-primaire;
	margin-bottom: 15px;
	@include ombres;
	border-radius: 13px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
	h3{
		font-size: 15px;
		padding-bottom: 5px;
		overflow: hidden;
		white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
		@include tablette{
			font-size: 16px;
		}
		@include desktop{
			font-size: 18px;
		}
	}
	p{
		font-size: 14px;
		font-weight: 100;
		overflow: hidden;
		white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
		@include tablette{
			font-size: 15px;
		}
		@include desktop{
			font-size: 17px;
		}
	}
	input{
		display: none;
	}
	span{
		font-size: 14px;
		@include tablette{
			font-size: 16px;
		}
		@include desktop{
			font-size: 19px;
		}
	}
	&--un{
	 	@include apparition-progressive (500ms);
	}
	&--deux{
	 	@include apparition-progressive (900ms);
	}
	&--trois{
	 	@include apparition-progressive (1300ms);
	}
	&--quatre{
	 	@include apparition-progressive (1700ms);
	}
	&--cinq{
	 	@include apparition-progressive (2100ms);
	}
	&--six{
	 	@include apparition-progressive (2500ms);
	}
	&--sept{
	 	@include apparition-progressive (2900ms);
	}
	&--huit{
	 	@include apparition-progressive (3300ms);
	}
	&--neuf{
	 	@include apparition-progressive (3700ms);
	}
	&--dix{
	 	@include apparition-progressive (3950ms);
	}
	&--flex{
		display: flex;
		justify-content: space-between;
	}
	&:hover {
		.form-titres{
			width: 85%;
		}
		.form-selection{
			transform: translate(0, 0)
		}
		i{
			transform: translate(0, 0) rotate(1turn);
		}
	}
	@include tablette{
		&:hover {
			.form-titres{
				width: 90%;
			}
		}
	}
}

.form-titres{
	padding: 10px 23px 10px 10px;
	width: 100%;
	transition: 450ms 50ms;
	@include desktop{
		padding: 15px 23px 15px 15px;
	}

}

.form-selection{
	position: absolute;
	top: 0;
	right: 0;
	background-color: $couleur-tertiaire;
	width: 60px;
	height: 100%;
	transform: translate(70px, 0);
	transition-duration: 500ms;
	display: flex;
	align-items: center;
	justify-content: center;
	i{
		font-size: 13px;
		color: $couleur-tertiaire;
		background-color: white;
		padding: 4px;
		border-radius: 50px;
		transform: translate(-15px, 0) rotate(0turn);
		transition: 500ms 100ms;
	}
	@include tablette{
		width: 76px;
		transform: translate(80px, 0);
	}
}
